.container{
    padding: 50px 20px;
    background: blue;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

#cooks > div > div{
        padding: 15px;
}

.center-text{
    text-align: center;
}

.carousel {
    padding: 50px 20px;
    width: 70%;
    length:70%;
    margin: auto;

}

.bg1 {
    background: blue;
}
