.container{
    padding: 50px 20px;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.center-text{
    text-align: center;
}

.carousel {
    padding: 50px 20px;
    width: 70%;
    length:70%;
    margin: auto;

}

#intro {
    background: lightgray;
}

#present {
    background: gray;
}
