.bg1 {
    background-color: #D2E3FC;
}

.center-text {
    text-align: center;
}

.font1 {
    font-size: 20px;
}

.bg2{
    background-color: #d0efff;
}
 /* .carousel-inner {
     width: 50%;
    height: auto;
    display: block;
    margin: auto;
 } */
